<h1>Application Data</h1>

<p><Strong>Name:</Strong> <%= name %></p>
<p><Strong>Email Address:</Strong> <%= email %></p>
<p><Strong>GPA:</Strong> <%= gpa %></p>
<p><Strong>Background Information:</Strong> <%= background %></p>
<hr>
<p><Strong> Task completed at  <%= taskCompletedAt %> > GMT-0400 (Eastern Daylight Time) </Strong></p>
<hr>
<a href="/">HOME</a> 